
.rbc-time-content {
  min-height: 1200px; /* height */
}


/* font */
.rbc-event {
  font-size: 12px;
  padding: 5px;
}

/* spacing */
.rbc-event-content {
  white-space: normal;
  word-wrap: break-word;
}
